

.footer-nav {
    list-style: none;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    margin-top: 2rem;
    margin-left: 3.5rem;
    margin-bottom: 2rem;
    color: $title-darkblue;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: $btn-color;
}  

li a.copyright:link,
li a.copyright:visited {
    color: $text-color-gray;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

