//base colors
$main-backgroundcolor: blue;
$main-text-color: #FFFFFF;
$title-darkblue: #039BE5;
$btn-color: #FF7043; 
$client-section-bgcolor: #F6F9FC;
$text-color-gray: #6B7C93;
$text-color-blue:#016CB7;